#skip-to-content {
  top: 1rem;
  left: 1rem;
  z-index: 99;

  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.app-header {
  padding: 2.5em;
  background: $darkest-color;
  text-align: center;
}

.app-header-image-container {
  width: 15rem;
  margin: auto;

  img {
    max-width: 15rem;
    max-height: 15rem;
    border: 0.3rem solid $primary-color;
  }
}

.app-header-avatar {
  border-radius: 100%;
}

.app-container {
  padding: 3%;
}

.app-header-social {
  font-size: 2em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

@media (min-width: 940px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
  }

  .app-container {
    max-width: 65rem;
    margin-left: 20rem;
  }
}

table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  thead {
    border-bottom: 1px solid $primary-color;
  }

  tbody > tr:nth-child(2n) {
    background-color: $darkest-color;
  }

  td {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}