.post-title {
  color: $lightest-color;
  margin-bottom: 8px;
}

.post-content {
  & > pre,
  .highlight {
    margin: 1em 0;
  }

  & > pre,
  .highlight > pre,
  .highlight > div {
    border-left: 0.4em solid rgba($primary-color, .8);
    padding: .5em 1em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  word-break: break-word;
  font-weight: 400;
}

.post-meta {
  font-size: 0.8em;
}

.post-header-content-separator {
  margin-top: 8px;
  margin-bottom: 16px;
}

.post-disclaimer {
  margin-top: 4px;
}

.post-related-title {
  margin-bottom: 0;
}